@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">All Comic Information</h1>
</div>
<!-- Table For Display Comic Details-->
<div id="table_details">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Comic Name</th>
                <th>Price</th>
                <th>Pages</th>
            </tr>
        </thead>
        <tbody id="table_comics">
            <tr>
                <td colspan="3" align="center">No Comic information</td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts{
    <script src="~/js/script.js"></script>

    <script>
        $(document).ready(function () {
            loadComics();
        });
    </script>
}